<div class="row"> 
  <div class="small-12 large-expand columns">
    <article class="listing">
          <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}"></a>

      <a class="image {{if isWide "wide"}}">
        <img src="{{portfolios.image}}" alt="">
        <small>View Larger</small></a>
      <h3>{{portfolios.title}}</h3>
      <div class="detail owner">
        <span>Owner:</span> {{portfolios.owner}}
      </div>
      <div class="detail type">
        <span>Type:</span> {{portfolios.type}}
      </div>
      <div class="detail location">
        <span>Location:</span> {{portfolios.city}}
      </div>
      <div class="detail bedrooms">
        <span>Number of bedrooms:</span> {{portfolios.bedrooms}}
      </div>
    </article>
  </div>
</div>