{{yield}}
<div class="page-header">
  <h1 class="text-center">Портфолио</h1>
</div>
<div class="row"> 
  <div class="col-xs-6 col-md-3" id="in_m">
    <a href="#" class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3" id="in_m">
    <a href="#" class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3" id="coorp_s">
    <a href="#" class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3" id="visitka">
    <a href="#" class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3" id="landing">
    <a href="#" class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-12 col-md-12">
     <ul class="pager">
      <li class="previous"><a href="#">&larr; Старая</a></li>
      <li class="next"><a href="#">Новая &rarr;</a></li>
    </ul>
  </div>
</div>