@import 'constants.scss';
@import "bootstrap";
// body {
//   background-color: $fone_color;
// }

// .container {
//   width: $container_size;
//   max-width: 80%;
//   min-width: 400px;
// }

// img {
// 	max-width: 100%;
// 	height: auto;
// }

// .jumbo {
//   color: $menu_color;
// }


// .menu {
//   margin: 0 auto;
//   min-width: 400px;
//   .a:hover {
//     text-decoration: underline;
//   }
//   background-color: $menu_color;
//   // Доп для адаптивности
//   @include adaptive(mobile) {
//     @include setAdaptive;
//   };
//   @include adaptive(pad) {
//      @include setAdaptive;
//   };
//   @include adaptive(desktop);
// }

// .ember-view {
//   @include adaptive(mobile);
//   @include adaptive(pad);
//   @include adaptive(desktop);
// }
// hack для IE9
@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}
.footer {
    background-color: $footer_color;
    color: white;
    height: 5em;
    position: static;
    .c-text {
        text-align: center;
        margin-top: 1%;
        padding: 1em;
    }
    .l-text {
        text-align: left;
        margin-top: 1%;
        padding: 1em;
    }

}
