// Шрифт текста малый
$size_text_s: 14px;
// Шрифт текста средний
$size_text_a: 16px;
// Шрифт текста большой
$size_text_b: 18px;
// Цвет текста
$color_text: #042247;
// Цвет фона
$fone_color: white;
// Цвет меню
$menu_color: #042247;
// цвет подвала
$footer_color: #101010;
// Размер смартфонов
$mobile: 500px;
// Десктов размер
$desktop: 900px;
// Размер контейнера
$container_size: 1200px;

// Миксин для адаптивности
@mixin adaptive($media){

  @if $media == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    };
  } @else if $media == pad {
      @media only screen and (min-width: $mobile) and (max-width: $desktop - 300px) {
        @content;
    };
  } @else if $media == desktop {
      @media only screen and (min-width: $desktop){
        @content;
    };
  };
}

// Настройки для адаптивности меню
@mixin setAdaptive(){
    a {
      padding: 1em;
      font-size: small;
    };
    .links {
      padding: 0;
      margin-top: 1em;
    };
}