<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Navbar Mobile version -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            
          </button>
      <a class="navbar-brand" href="/">LOGO</a>
    </div>
    <!-- Navbar default Version-->
    <div class="navbar-collapse collapse" id="menu-mobail-2">
      <ul class="nav navbar-nav">
        <li class="active"> 
          {{#link-to 'index'}}
            Главная
          {{/link-to}}
        </li>
        <li> 
          {{#link-to 'company'}}
            О компании
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'contacts'}}
              Контакты
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'portfolio'}}
            Портфолио
          {{/link-to}}
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>
<!-- Content -->
<div class="container-fluid">
    {{outlet}}
</div>
<!-- footer -->
<div class="footer">
  <div class="c-text">
    <p>ООО "Содружество"</p>
    <p>Copyright (c) 2017</p>
  </div>
</div>