{{outlet}}
<div class="page-header">
  <h1 class="text-center">Наши Контакты</h1>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>Контакты</h2>
    <p>Если вы хотите с нами связаться, то обратитесь по следующем контактам.</p>
    <p>
      ООО "Содружество"
      <address>
        Город Тюмень...<br>
        Почтовый индекс
      </address>
      <a href="tel:999.999.999">+898989898</a><br>
      <a href="mailto:rinat643@gmail.com">rinat643@gmail.com</a>
    </p>
  </div>
</div>