{{outlet}}

<div class="jumbotron">
  <h1>ООО "Содружество"</h1>
  <p>Небольшое описание</p>
  <p><a class="btn btn-primary btn-lg" role="button">Узнать больше</a></p>
</div>

<!-- Наши преимущества -->
<div class="page-header">
  <h1 class="text-center">Наши преимущества</h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
      <div class="caption">
        <h3>Преимущества </h3>
        <p>Описание</p>
        <p><a href="#" class="btn btn-primary center" role="button">Заказать</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
      <div class="caption">
        <h3>Преимущества </h3>
        <p>Описание</p>
        <p><a href="#" class="btn btn-primary center" role="button">Заказать</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
      <div class="caption">
        <h3>Преимущества </h3>
        <p>Описание</p>
        <p><a href="#" class="btn btn-primary center" role="button">Заказать</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
      <div class="caption">
        <h3>Преимущества </h3>
        <p>Описание</p>
        <p><a href="#" class="btn btn-primary center" role="button">Заказать</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
      <div class="caption">
        <h3>Преимущества </h3>
        <p>Описание</p>
        <p><a href="#" class="btn btn-primary center" role="button">Заказать</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/web-design.jpg" alt="...">
      <div class="caption">
        <h3>Преимущества </h3>
        <p>Описание</p>
        <p><a href="#" class="btn btn-primary center" role="button">Заказать</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Портфолио -->
{{portfolio-site}}